/*estilização da pg e fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;/*deixa o scroll mais lento*/

}

/*estilização do nav, header e main */

nav{
    background-color: rgb(221, 0, 0);
    position: fixed;
    z-index: 9999;
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li{
    padding: 0.6rem;
}

nav img{
    width: 3rem;
}

nav h1{
    color: white;
    font-size: 1.4rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

header img{
    width: 100%;
    margin-top: 4rem;
}

main{
    margin: 0 10rem 0 10rem;
}

/*estilização dos cards*/

section#cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;

}

section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000015;
    padding: 1rem;
    margin: 3rem 0 5rem 0;
}

section#cards h2{
    width: 100%;
    text-align: center;

}

section#cards div.card img{
    width: 100%;
}

section#cards div.card h3{
    margin-bottom: 1rem;
}

section#cards div.card p.descricao{
    margin-bottom: 1rem;
}

section#cards div.card a#editar{
    padding: .6rem;
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: white;
    border: solid 1px rgb(134, 134, 252);
    color: rgb(134, 134, 252);
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
    margin-top: 2rem;
}

section#cards div.card a#apagar{
    padding: .6rem;
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: white;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
    margin-top: 1rem;
}


section#cards div.card a#editar:hover{
    background-color: rgb(134, 134, 252);
    color: white;
}

section#cards div.card a#apagar:hover{
    background-color: red;
    color: white;
}

/*esttilização do Formulário*/

section#cadastro{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

section#cadastro img{
    width: 55%;
    
}

section#cadastro h2{
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
    color: rgb(145, 143, 143);
}

section#cadastro form{
    width: 100%;
}

section#cadastro form label{
    margin: 1rem;
    color: rgb(173, 169, 169);
}

section#cadastro form input{
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    outline: none;/*tira o sublinhado do input a borda*/
    border: solid 2px rgb(211, 208, 208);
    margin: 0 1rem 1rem 1rem;
}

section#cadastro form button{
    padding: .6rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: white;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

section#cadastro form button:hover{
    background-color: red;
    color: white;
}

/*estilização do footer*/

footer{
    background-color:rgb(221, 0, 0) ;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: .3rem;

}

footer a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}