@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

header{
    padding: 3rem;
    background-color: red;
}

header h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}

main{
    margin: 0 10rem 0 10rem;
}

section#cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;

}

section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000015;
    padding: 1rem;
}

section#cards div.card img{
    width: 100%;
}

section#cards div.card h2{
    margin-bottom: 1rem;
}

section#cards div.card p.descricao{
    margin-bottom: 1rem;
}
