@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

header{
    padding: 3rem;
    background-color: red;
}

header h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}

main{
    margin: 0 10rem 0 10rem;
}

section#cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;

}

section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000015;
    padding: 1rem;
    margin-top: 3rem;
}

section#cards div.card img{
    width: 100%;
}

section#cards div.card h2{
    margin-bottom: 1rem;
}

section#cards div.card p.descricao{
    margin-bottom: 1rem;
}


section#cadastro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 5rem;

}
section#cadastro h2{
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
}

section#cadastro form{
    width: 50%;
}

section#cadastro form input{
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    outline: none;/*tira o sublinhado do input a borda*/
    border: solid 2px rgb(211, 208, 208);
    margin: 0 1rem 1rem 1rem;
}

section#cadastro form label{
    margin: 1rem;
    color: rgb(173, 169, 169);
}

section#cadastro form button{
    padding: .6rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: white;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
}

section#cadastro form button:hover{
    background-color: red;
    color: white;
}
